/* --Head-Start-- */
.head .head__text {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.head .head__text a {
  font-size: 1.6rem;
}

.head .head__text span {
  font-size: 1.6rem;
  color: var(--color-yellow);
}

.head .head__img {
  position: relative;
  height: 33.8rem;
  filter: grayscale(100%);
}

.head .head__img h1 {
  position: absolute;
  top: 80%;
}

.head .head__img > .container {
  position: initial;
}

.head .head__img img {
  object-position: 50% 55%;
}

.head .head__img h1 {
  max-width: 102rem;
}
/* --Head-End-- */

/* --blogsDeatil-Start-- */
.blogs__detail {
  margin-top: 24.3rem;
}

.blogs__detail .share i {
  font-size: 3.2rem;
  margin-bottom: 4.3rem;
}

.blogs__detail .blog__detail .blogs__detail-img {
  flex: 1;
  flex-basis: 67rem;
}

.blog__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 13rem;
}

.blog__list .blogs {
  flex-basis: 60%;
  min-width: 60%;
}

.blog__list .blogs .blog__detail .blogs__detail-img {
  height: 33.4rem;
  margin-bottom: 5rem;
}

.blog__list .blogs .blog__detail .blogs__detail-img img {
  object-position: 50% 70%;
}

.blog__list .blogs .blog__detail .blog__detail-text {
  margin-bottom: 5rem;
}

.blog__list .other__blogs {
  max-width: 37rem;
  flex-basis: 33rem;
  flex: 1;
}

.blog__list .other__blogs h2 {
  color: var(--color-yellow);
  margin-bottom: 4rem;
}

.blog__list .other__blogs .other__blog-img {
  height: 18.9rem;
  margin-bottom: 3rem;
}

.blog__list .other__blogs .other__blog-img img {
  object-position: 50% 70%;
}

.blog__list .other__blogs .other__blog-text h2 {
  color: #fff;
  margin-bottom: 2rem;
}

.blog__list .other__blogs .other__blog-text p {
  margin-bottom: 3rem;
}

.blog__list .other__blogs .other__blog-text a {
  font-size: 3.2rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.blog__list .other__blogs .other__blog-text a i {
  rotate: 45deg;
  margin-right: 3rem;
}

.other__blogs .other__blog-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

footer {
  margin-top: 16rem;
}

@media screen and (max-width: 1023px) {
  .blogs__detail {
    margin-top: 40.3rem;
  }
}

@media screen and (max-width: 832px) {
  .blog__list .blogs {
    min-width: 100%;
  }

  .blog__list .other__blogs {
    max-width: 100%;
  }
}

@media screen and (max-width: 762px) {
  .blogs__detail {
    margin-top: 60rem;
  }
}

@media screen and (max-width: 576px) {
  .head .head__text a {
    display: none;
  }

  .head .head__text {
    display: flex;
    padding: 0 2rem;
  }
  .head .head__text i:nth-child(2) {
    display: none;
  }

  .head .head__img h1 {
    top: 92%;
  }

  .blog__list .blogs .blog__detail .blogs__detail-img {
    height: 19.8rem;
  }
  .blogs__detail {
    margin-top: 12rem;
  }

  .other__blogs .other__blog-list .other__blog:nth-child(2n + 1) {
    display: none;
  }

  .blog__list .other__blogs .other__blog-text h2 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }

  .blog__list .other__blogs .other__blog-text p {
    margin-bottom: 4rem;
  }

  .blog__list .other__blogs .other__blog-text a {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 388px) {
  .blogs__detail {
    margin-top: 16rem;
  }

  @media screen and (max-width: 293px) {
    .blogs__detail {
      margin-top: 22rem;
    }
  }
}
