/* --Head-Start-- */
.head .head__text {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.head .head__text a {
  font-size: 1.6rem;
}

.head .head__text span {
  font-size: 1.6rem;
  color: var(--color-yellow);
}

.head .head__img {
  position: relative;
  height: 33.8rem;
  filter: grayscale(100%);
}

.head .head__img h1 {
  position: absolute;
  top: 80%;
}

.head .head__img > .container {
  position: initial;
}

.head .head__img img {
  object-position: 50% 50%;
}

.head .head__img h1 {
  max-width: 102rem;
}
/* --Head-End-- */

/* --Contact-Start-- */

.contact {
  margin-top: 15rem;
}

.contact .contact__info {
  display: flex;
  flex-wrap: wrap;
  gap: 9.9rem;
}

.contact .contact__info i {
  color: var(--color-yellow);
  font-size: 3.1rem;
}

.contact .contact__info .contact__location {
  display: flex;
  gap: 5rem;
  font-size: 1.6rem;
  flex: 1;
  flex-basis: 25rem;
  max-width: 34rem;
}

.contact .contact__info .contact__phone {
  display: flex;
  gap: 5rem;
  flex: 1;
  flex-basis: 25rem;
  max-width: 34rem;
  font-size: 1.6rem;
}

.contact .contact__info .contact__phone ul {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.contact .contact__info .contact__social {
  display: flex;
  flex: 1;
  flex-basis: 25rem;
  max-width: 34rem;
  gap: 5rem;
}

.contact__map {
  margin-top: 6rem;
}

.contact__map iframe {
  height: 69rem;
}

@media screen and (max-width: 576px) {
  .head .head__text {
    display: flex;
    padding: 0 2rem;
  }
  .head .head__text a:nth-child(1) {
    display: none;
  }

  .head .head__img {
    height: 17.9rem;
  }

  .head .head__img h1 {
    top: 85%;
  }

  .contact__map iframe {
    height: 40rem;
  }
}
