/* --Head-Start-- */
.head {
  margin-bottom: 6rem;
}
.head .head__text {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.head .head__text a {
  font-size: 1.6rem;
}

.head .head__text span {
  font-size: 1.6rem;
  color: var(--color-yellow);
}
/* --Head-End-- */

/* --Service_Detail-Start-- */

.service__detail .service__detail-left {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  margin-bottom: 13.4rem;
}

.service__detail .service__detail-left .service__detail-img {
  max-width: 63.6rem;
  width: 100%;
  flex: 1 0 60rem;
  height: 40rem;
}

.service__detail .service__detail-left .service__detail-text {
  max-width: 47rem;
  flex: 1 0 40rem;
}

.service__detail .service__detail-left .service__detail-text h3 {
  color: var(--color-yellow);
  font-size: 4rem;
  margin-bottom: 2rem;
}

.service__detail .service__detail-right {
  flex-direction: row-reverse;
  display: flex;
  flex-wrap: wrap;
  gap: 13rem;
}

.service__detail .service__detail-right .service__detail-img {
  max-width: 63.3rem;
  flex: 1 0 60rem;
  width: 100%;
  height: 40rem;
}

.service__detail .service__detail-right .service__detail-text {
  max-width: 47rem;
}

.service__detail .service__detail-right .service__detail-text a {
  display: block;
  font-size: 3.2rem;
  margin-top: 10.8rem;
}
/* --Service_Detail-End-- */

@media screen and (max-width: 1100px) {
  .service__detail .service__detail-left .service__detail-img {
    max-width: 100%;
  }

  .service__detail .service__detail-left .service__detail-text {
    margin-left: 2rem;
    max-width: 100%;
  }

  .service__detail .service__detail-right .service__detail-img {
    max-width: 100%;
  }

  .service__detail .service__detail-right .service__detail-text {
    max-width: 100%;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .head .head__text a {
    display: none;
  }
  .head .head__text {
    display: flex;
    padding: 0 2rem;
  }
  .head .head__text i:nth-child(2) {
    display: none;
  }

  .service__detail .service__detail-left {
    display: block;
    margin-bottom: 4rem;
  }
  .service__detail .service__detail-right {
    display: block;
  }
  .service__detail .service__detail-left .service__detail-img {
    height: 18.8rem;
  }
  .service__detail .service__detail-right .service__detail-img {
    height: 18.8rem;
  }
  .service__detail .service__detail-left .service__detail-text {
    margin: 0 2rem;
    margin-top: 3rem;
  }
  .service__detail .service__detail-right .service__detail-text {
    margin: 0 2rem;
    margin-top: 3rem;
  }
  .service__detail .service__detail-left .service__detail-text h3 {
    font-size: 2.2rem;
    font-family: "h1-h2";
  }
  .service__detail .service__detail-right .service__detail-text a {
    margin-top: 4rem;
  }
}
